onlyBuiltDependencies[]=better-sqlite3
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=onnxruntime-node
onlyBuiltDependencies[]=koffi
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=kuzu
